{
	"extends": "yoast",

	"parser": "@babel/eslint-parser",

	"parserOptions": {
		"ecmaVersion": 9,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},

	"rules": {
		// Custom rules: only for temporary exceptions that should be removed over time
		"camelcase": 1,
		"complexity": [1, 6],
		"brace-style": 1,
		"import/no-unresolved": [ 2, {"ignore": ["@theme", "@docusaurus", "@site"]}],
		"max-statements": 1,
		"no-shadow": 1,
		"no-prototype-builtins": 0,
		"require-jsdoc": 1,
		"react/jsx-no-bind": 0,
		"react/jsx-no-target-blank": 1,
		"react/no-access-state-in-setstate": 1,
		"react/no-deprecated": 1,
		"react/no-unused-prop-types": 1,
		"react/prop-types": 1,
		"react/require-default-props": 1,
		"react/default-props-match-prop-types": 1,
		"react/jsx-key": 1,
		"react/no-unused-state": 1
	},

	"settings": {
		"react": {
			"version": "17.0.2"
		}
	}
}
